@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1296 0.0274 261.6924);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1296 0.0274 261.6924);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1296 0.0274 261.6924);
  --primary: oklch(0.6311 0.0507 56.1313);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9604 0.0059 59.651);
  --secondary-foreground: oklch(0.2101 0.0318 264.6645);
  --muted: oklch(0.9604 0.0059 59.651);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.9604 0.0059 59.651);
  --accent-foreground: oklch(0.2101 0.0318 264.6645);
  --success: oklch(0.5236 0.0896 163.1);
  --success-foreground: oklch(1 0 0);
  --info: oklch(55% 0.1 230);
  --info-foreground: oklch(100% 0 0);
  --warning: oklch(85% 0.14 95);
  --warning-foreground: oklch(18% 0.24 50);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9846 0.0017 247.8389);
  --border: oklch(0.9091 0.0128 56.2392);
  --input: oklch(0.9091 0.0128 56.2392);
  --ring: oklch(0.6311 0.0507 56.1313);
  --chart-1: oklch(0.6311 0.0507 56.1313);
  --chart-2: oklch(0.6775 0.0418 53.0501);
  --chart-3: oklch(0.7235 0.0332 48.2398);
  --chart-4: oklch(0.7711 0.0247 44.2782);
  --chart-5: oklch(0.8171 0.0187 30.2847);
  --sidebar: oklch(0.9834 0.0025 48.7198);
  --sidebar-foreground: oklch(0.3729 0.0306 259.7328);
  --sidebar-primary: oklch(0.6311 0.0507 56.1313);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9604 0.0059 59.651);
  --sidebar-accent-foreground: oklch(0.2101 0.0318 264.6645);
  --sidebar-border: oklch(0.9091 0.0128 56.2392);
  --sidebar-ring: oklch(0.6311 0.0507 56.1313);
  --font-sans: Inter, sans-serif;
  --font-serif: serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

/* .dark {
  --background: oklch(0.1704 0.0039 48.4791);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.1704 0.0039 48.4791);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.1704 0.0039 48.4791);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.6311 0.0507 56.1313);
  --primary-foreground: oklch(0.1704 0.0039 48.4791);
  --secondary: oklch(0.3096 0.0228 49.7932);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2247 0.0135 51.4743);
  --muted-foreground: oklch(0.7118 0.0129 286.0665);
  --accent: oklch(0.3729 0.0306 259.7328);
  --accent-foreground: oklch(0.9846 0.0017 247.8389);
  --destructive: oklch(0.3958 0.1331 25.723);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.3096 0.0228 49.7932);
  --input: oklch(0.3096 0.0228 49.7932);
  --ring: oklch(0.6311 0.0507 56.1313);
  --chart-1: oklch(0.6311 0.0507 56.1313);
  --chart-2: oklch(0.5719 0.0455 53.3885);
  --chart-3: oklch(0.5112 0.0402 49.7346);
  --chart-4: oklch(0.4486 0.035 44.6745);
  --chart-5: oklch(0.3838 0.03 37.3468);
  --sidebar: oklch(0.1704 0.0039 48.4791);
  --sidebar-foreground: oklch(0.7118 0.0129 286.0665);
  --sidebar-primary: oklch(0.6311 0.0507 56.1313);
  --sidebar-primary-foreground: oklch(0.1704 0.0039 48.4791);
  --sidebar-accent: oklch(0.3096 0.0228 49.7932);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.3096 0.0228 49.7932);
  --sidebar-ring: oklch(0.6311 0.0507 56.1313);
  --font-sans: Inter, sans-serif;
  --font-serif: serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
